body{
background-color: blanchedalmond;
font-family: Arial, sans-serif;
text-align: center;
}


.caja{
width: 300px;
margin: 20px auto;
padding: 15px;
background: white;
border: 1px solid #c9b08a;
}


input, button{
width: 80%;
margin: 5px;
padding: 7px;
}


button{
background-color: #f3c68a;
border: none;
}